@font-face{
  font-family: 'DINCondensed-Bold';
  src: url('../../assets/css/DINCondensedBold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'PingFangSC-Semibold';
  src: url('../../assets/css/PingFangSC-Semibold.TTF') format("truetype");
  font-weight: normal;
  font-style: normal;
}

 @font-face{
  font-family: 'PingFangSC-Regular';
  src: url('../../assets/css/PingFangSC-Regular.TTF') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'PingFangSC-Light';
  src: url('../../assets/css/PingFangSC-Light.TTF') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face{
  font-family: 'PingFangSC-Medium';
  src: url('../../assets/css/PingFangSC-Medium.TTF') format("truetype");
  font-weight: normal;
  font-style: normal;
} 